<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Article</h1>
    <form action="/articles/<%= article._id %>?_method=PUT" method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="article[title]"
          value="<%= article.title %>"
        />
      </div>
      <div>
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          name="article[description]"
          value="<%= article.description %>"
        />
      </div>
      <div>
        <label for="content">Content</label>
        <textarea
          type="text"
          id="content"
          name="article[content]"
          rows="4"
          cols="50"
          value="<%= article.content %>"
        ></textarea>
      </div>
      <button>Update Article</button>
    </form>
    <a href="/articles/<%= article._id %> ">Back to Article</a>
  </body>
</html>
